@import "mocha.css";

* {
	font-family: 'JetBrains Mono Nerd Font';
	font-size: 16px;
	letter-spacing: -0.1px;
	color: @text;
	min-height: 32px;
}

window#waybar {
	background: @base;
}

#workspaces button.current_output {
	background: @base;
}

#workspaces button.focused {
	background: @surface2;
}

#clock {
	color: @yellow;
	padding-right: 0.5px;
}
